<div class="pokemons-header">
    <h1>Liste des Pokémons</h1>
    <input 
        #input
        (keyup.enter)="selectPokemon(input.value)"
        type="number"
    >
    <div>
        <p *ngIf="pokemonSelected">Vous avez selectionné le pokémon : {{ pokemonSelected.name }}</p>
        <p *ngIf="!pokemonSelected">Auncun pokémon n'a été trouvé</p>
    </div>
</div>
<div class="card-container">
    <div class="card" *ngFor="let pokemon of pokemonList" pokemonBorderCard>
        <div class="card-image">
            <img src="{{ pokemon.picture }}" alt="{{ pokemon.name }}">
        </div>
        <div class="card-content">
            <div class="card-title">{{pokemon.name}}</div>
            <div class="card-specs"><small>{{pokemon.created | date:'dd MMM YYYY'}}</small></div>
            <div class="card_pokemon-types">
                <span class="pokemon-type" *ngFor="let type of pokemon.types" pokemonChipColor><small>{{ type }}</small></span>
            </div>
        </div>
    </div>
</div>
